<h1>Send Message & Update Status</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>This will update the status of the chosen order and send a notification email to the customer. Please note
      that for the pre-defined status updates, a pre-defined subject and body will be chosen. Choose the <i>Other</i>
      status in case you want to specify a status that is not available from the dropdown. In this case, you can freely
      input a subject and a body.</p>
    <%= render 'form' %>
  </div>
</div>