// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-details {
  h3 {
    margin-top: 0;
  }
}
.order-title {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.2em;
}