// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-with-tabs {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.product-img {
  width: 100%;
}

.product-panel-heading {
  padding: 0;
}

.caption {
  height: 130px;
  overflow: hidden;
  position: relative;
}

.cart-counter {
  position: absolute;
  bottom: 0;
  color: green;
  font-weight: bold;
}
.cart-counter-show {
  color: green;
  font-weight: bold;
}
.amount-container {
  width: 40%;
  display: inline-block;

  input[type='number'] {
    width: 100%;
  }
}
.amount-form-show {
  input[type='submit'] {
    margin-left: 15px;
  }
}
.caption h4 {
  white-space: nowrap;
}